.app {
  text-align: center;
  background-color: #ecf0f1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000;
}

.time {
  font-size: 4rem;
  padding: 3rem;
}

.button {
  padding: 1rem 1.5rem;
  margin: .4rem;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  border-style: groove;
}

.button:focus {
  outline-width: 0;
}

.button-primary:hover {
  background-color: #4c9eaa;
  border: 1px solid #1b1f2b;
}

.button-primary-active {
  color: white;
}

.button-primary-inactive {
  background-color: #3151ff;
  border: 1px solid #152684;
  color: white;
}

.rojo{
  color: red;
}