.header{
    width: 100%;
    background-color: #4c9eaa;
    padding-top: 15px;
    padding-bottom: 20px;
}

.nav{
    display: flex;
    justify-content: space-around;
}

.navegacion{
    justify-content: end;
    color: #fff;
}

.pading1{
    margin-left: 20px;
}

.pading2{
    margin-left: 20px;
}

a{
    text-decoration: none;
    color: #fff;
}

.logo{
    width: 20px;
    height: 20px;
}